/Library
/Logs
/MockUpAdvancedAPKAR.apk
/MockUpAdvancedAR_BurstDebugInformation_DoNotShip
/Temp
/
Assembly-CSharp.csproj
Assets/Resources/InputActions.asset
Assets/Resources/InputActions.asset.meta
Assets/XR/Settings/OpenXR Package Settings.asset
ProjectSettings/ShaderGraphSettings.asset
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
UserSettings/Layouts/default-2022.dwlt
Assets/Oculus/OculusProjectConfig.asset
Assets/XR/Settings/OpenXR Package Settings.asset
Assets/Multistory Dungeons 2
.vs/MockUpAdvancedAR/FileContentIndex/2e695b6f-28f3-465c-a399-deb82a78a9e0.vsidx
.vs/MockUpAdvancedAR/FileContentIndex/8f12d434-8cec-46a4-9bd4-bbc6bf021b09.vsidx
.vs/MockUpAdvancedAR/FileContentIndex/8f864f6e-9df0-4fb1-b04b-3e7b507bf190.vsidx
.vs/MockUpAdvancedAR/FileContentIndex/578b994e-1434-4381-88e6-c94e2ea49d12.vsidx
.vs/MockUpAdvancedAR/FileContentIndex/56093543-282c-4ac7-953e-40864b1c4908.vsidx
